<footer class="footer">
    <div class="columns">
        <div class="column is-half has-text-centered">
            <h4 class="title is-4">Footer Content</h4>
            <p class="has-text-justified">Ipsum ducimus quam nulla consequatur non! Cum corporis aliquam inventore consequatur consequatur Quisquam beatae omnis nisi mollitia eius Ea fugiat blanditiis repellat doloremque iste est in incidunt Sint veniam dolore</p>
        </div>
        <div class="column is-one-quarter">
            <h5 class="title is-5 pl-2">Project Guitarshop</h5>
            <ul class="quick-links">
                <li>
                    <a href="/home">
                        <span class="icon is-small">
                            <i class="fas fa-angle-double-right"></i>
                        </span>
                        Home
                    </a>
                </li>
                <li>
                    <a href="/products">
                        <span class="icon is-small">
                            <i class="fas fa-angle-double-right"></i>
                        </span>
                        Products
                    </a>
                </li>
                <li>
                    <a href="/shoppingcart">
                        <span class="icon is-small">
                            <i class="fas fa-angle-double-right"></i>
                        </span>
                        Shopping Cart
                    </a>
                </li>
                <li>
                    <a href="/purchases">
                        <span class="icon is-small">
                            <i class="fas fa-angle-double-right"></i>
                        </span>
                        Purchases
                    </a>
                </li>
                <li>
                    <a href="/faq">
                        <span class="icon is-small">
                            <i class="fas fa-angle-double-right"></i>
                        </span>
                        FAQ
                    </a>
                </li>
                <li>
                    <a href="/about">
                        <span class="icon is-small">
                            <i class="fas fa-angle-double-right"></i>
                        </span>
                        About
                    </a>
                </li>
            </ul>
        </div>
        <div class="column is-one-quarter">
            <h5 class="title is-5 pl-2">Support</h5>
            <ul class="quick-links">
                <li>
                    <a href="/home">
                        <span class="icon is-small">
                            <i class="fas fa-angle-double-right"></i>
                        </span>
                        Home
                    </a>
                </li>
                <li>
                    <a href="/products">
                        <span class="icon is-small">
                            <i class="fas fa-angle-double-right"></i>
                        </span>
                        Products
                    </a>
                </li>
                <li>
                    <a href="/shoppingcart">
                        <span class="icon is-small">
                            <i class="fas fa-angle-double-right"></i>
                        </span>
                        Shopping Cart
                    </a>
                </li>
                <li>
                    <a href="/purchases">
                        <span class="icon is-small">
                            <i class="fas fa-angle-double-right"></i>
                        </span>
                        Purchases
                    </a>
                </li>
                <li>
                    <a href="/faq">
                        <span class="icon is-small">
                            <i class="fas fa-angle-double-right"></i>
                        </span>
                        FAQ
                    </a>
                </li>
                <li>
                    <a href="/about">
                        <span class="icon is-small">
                            <i class="fas fa-angle-double-right"></i>
                        </span>
                        About
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="content has-text-centered">
        <ul class="socialmedia">
            <li>
                <a href="#">
                    <span class="icon is-medium">
                        <i class="fab fa-github"></i>
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon is-medium">
                        <i class="fab fa-facebook"></i>
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon is-medium">
                        <i class="fab fa-twitter"></i>
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon is-medium">
                        <i class="fab fa-instagram"></i>
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon is-medium">
                        <i class="fab fa-google-plus"></i>
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon is-medium">
                        <i class="fas fa-envelope"></i>
                    </span>
                </a>
            </li>
        </ul>
        <p>
        <strong>
            <u><a class="mr-1" href="/">Guitarshop</a></u>
        </strong>is developed with PHP
        <span class="icon is-medium">
            <i class="fab fa-php fa-lg"></i>
        </span>
        </p>
        <p>
        <span class="icon is-small">
            <i class="far fa-copyright"></i>
        </span>
        All right Reversed. Guitarshop
        </p>
    </div>
</footer>
