<!DOCTYPE html>
<html lang="en">
    <?php include VIEWS . "/layouts/head.html" ?>
    <body>
        <?php include VIEWS . "/layouts/header.html" ?>

        <div class="flex my-5">
            <h1 class="title has-text-centered"><?= $parameters["title"] ?></h1>
            <?php include VIEWS . "/layouts/alert.html" ?>
            <?php include VIEWS . "/layouts/card.html" ?>
        </div>

        <?php include VIEWS . "/layouts/footer.html" ?>
        <script src="/build/app.js"></script>
    </body>
</html>
